
body{font-size: 17px;
    font-family:  Work Sans,Arial,sans-serif;
    color: hsl(0, 1%, 37%);
    
   padding-left: 200px;
   padding-right: 200px;
   /* margin: 50px; */

 }

 .c1{background-color: white;
    position: sticky;
    top: 0px;
    /* padding-top: 20px; */
    width: 100%;
   ;

 }
 /* .one{
     display: flex;
     justify-content: space-around;
 } */
 .nav{display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-around; */
}
.nav ul li { margin: 15px;
    padding: 15px;
    display: inline-block;
}
.nav ul li a{ text-decoration: none;
 }
#home{  color:rgb(47, 160, 149) ;}
 .nav ul li :hover{ 
    color:rgb(47, 160, 149) ;}
.c2{ padding-top: 70px;}
.c1:hover{ color: hsl(0, 1%, 37%);   
}
.nav_links{display: flex;
    justify-content: space-between;
    width: max-content;
    list-style: none;
}
.submenu{
    display: none;
    position: absolute;
}
.submenu ul li{ display: block;
position: relative;
margin: 0;
font-size: 15px;
width: 200px;
background-color: white;}
.bar:hover .submenu{
    display: block; }
.c21{display: flex;
justify-content: center;}


.im1{ display: flex;
    justify-content: center;
    margin: 0px;
}
.c22 { display: flex;
    justify-content: space-between; 
    width: 700x;
    margin: 30px;
    padding: 20px;
}


.c23{ display: flex;
    justify-content: space-around;
    color: blanchedalmond;
}
.col1{ background-color: rgb(47, 160, 149);
    border-radius: 15px;
    padding: 7px;
    
    width: 300px;
    display: block;
    flex-direction: column;
    justify-content: space-between;
}
.col2{ background-color: rgb(118, 118, 184);
    border-radius: 15px;
    padding: 7px;
    height: 300px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col3{ background-color: rgb(34, 32, 58);
    border-radius: 15px;
    padding: 7px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 #cars{
    width: 100%;
    background: transparent;
    border: 0;
    text-decoration: underline;
    font-size: 20px;
}
#volvo {color: white;}
h1{
    color: #00b39b;
}
h3{
    color: #00b39b;
}
.h1{color: white;}
h5{color: white;
background-color: blue;
border-radius: 5px;
max-width: 250px;}
.logo{height: 30px;
    width: 100px;
}
.logo1{height: 30px;
    width: 40px;}
    .c3{ display: flex;
        justify-content: space-between;
}

.c31{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
padding: 50px;
justify-content: space-between;
width: 600px;
}
.c4{text-align: center;
}
.c5{display: flex;
flex-wrap: wrap;
justify-content: space-between;}
.off {background-color: transparent;
border-radius:20px;
width: 30%;
float: left; }
.office:hover{box-shadow: 10px 10px 5px grey;
}
.office{ border-radius: 20px;}
/* .c6{text-align: center;} */
.c6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oc{display: flex;
justify-content: space-between;}
.footer{text-align: center;
bottom: 0px;}
.c44{background-image: url('background.png');
    width: 100%;
display: flex;
justify-content: space-between;

}
.col{ display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 60%;
}
.colx{ padding: 10px ;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height :300px;
}
